body,h1,h2,h3,h4,h5,h6 
body, html {
    height: 100%;
    color: #777;
    
}
::selection {
    color: white;
    background: #3f3717;
}
/* Create a Parallax Effect */
.bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/parallax_blog.jpg');
    height: 100%;
}





/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px)
{
    .bgimg-1 
    {
        background-attachment: scroll;
    }
}
.center
{
    text-align: center;
}
.blog_h
{
    color:#84722b;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
}
#title
{
    font-style: italic;
    font-size: 50px;
    
    text-shadow:0.5px 0.5px #47494f;
}

 @media only screen and (max-width:1500px) and (min-width:1110px)  {
    
   #logo{
    white-space: nowrap;
    margin: 0 300px 0 400px;
    

}

 @media only screen and (min-width:1500px) {
    #logo{
        margin:0 auto;
    }
 
 }
 .profile-img
    {
        padding: 50px;
    }
}


#logo img{
    vertical-align: middle;
    margin-bottom:25px;
     height:100px;
    width:120px;

}
#blog_p{
    margin: 10px;
    font-size: 17px;
    
}

#cloud_h a:hover{
 color: #0c1b28;
  background-color:#e8dfd3 ;
}
#cloud_h{
font-size:30px;
margin: 50px;
}
#cloud_h a{
  color:#84722b;
}
@media only screen and (max-width:700px)
{
    #cloud_h
    {
      font-size: 20px;
    }
    .bgimg-1
    {
        width: auto;
        height: auto;
    }    
    .profile-img
    {
        padding: 50px;
    }
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 193px;
    height: 235px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.profile-img img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}